.table-container {
  max-width:60%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 60%;
  margin-top: 20px;
}


.red {
  background-color: rgb(255, 190, 190);
}
.orange {
  background-color: rgb(255, 246, 190);
}
.green {
  background-color: rgb(190, 255, 206);
}

.warn {
  fill: red;
  color: red;
}

.red-border {
  box-shadow: 0px 0px 5px inset rgba(255, 48, 48, 0.781);
}
