.sidebar {
  width: 200px;
  padding: 20px;
  height: calc(100vh - 100px);
  position: fixed;
  bottom: 0px;
  left: -440px;
  background: #6db3ccef;
  transition: 0.2s all ease;
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 15px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 15px -4px rgba(0, 0, 0, 0.75);
  z-index: 100;
  &--open {
    left: 0px;
  }

  mat-list-item {
    cursor: pointer;
    border-radius: 10px;
    span {
      color: rgb(66, 66, 66);
    }
  }
  mat-list-item:hover {
    background-color: #9dd5e9;
    span {
      color: white;
    }
  }
}
