.sidebar {
  width: 200px;
  padding:20px ;
  height: calc(100vh - 104px);
  position: fixed;
  bottom: 0px;
  left: -440px;
  background: #cdebf6;
  transition: 0.2s all ease;
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 15px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 15px -4px rgba(0, 0, 0, 0.75);

  &--open {
    left: 0px;
  }

  mat-list-item{
    cursor: pointer;
    border-radius: 10px;
  }
  mat-list-item:hover{
    background-color:#99bbc750
  }
}
