<div class="sidebar" [ngClass]="{ 'sidebar--open': sidebarOpen$ | async }">
  <header class="sidebar__header">
    <h2>Menu</h2>
  </header>
  <mat-list>
    <mat-list-item role="listitem" [routerLink]="['']"><span>Home</span></mat-list-item>
    <mat-list-item role="listitem" [routerLink]="['/machine-statuses']"><span>Machines</span></mat-list-item>
    <mat-list-item role="listitem"><span>Employees</span></mat-list-item>
    <mat-list-item role="listitem" [routerLink]="['/inventory']"><span>Inventory</span></mat-list-item>
  </mat-list>
</div>